@charset "utf-8";
/* CSS Document */

body{
	font-family: "Lucida Grande", "Verdana", sans-serif;
	font-size: 12px;
	background-image:url(images/bg.JPG);
}

a{font:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#00CCFF;
text-decoration:underline;
}
p{
color:#FFF;
}

.content {
	width: 70%;
	margin: 0 auto;
	font:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFFFFF;
	background: rgba(255,255,255, 0.1);
	padding: 20px;
	margin-top:50px;
	-webkit-border-radius: 30px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
     -moz-border-radius: 30px;
    border-radius: 30px;
	-webkit-box-shadow: 0px 0px 4px #fff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 4px #fff;
	box-shadow: 0px 0px 0px 4px #ffffff;
}
ul{
	float:left;
	display:block;
}
ul li{
	float:left;
	list-style:none;
}
a{color:#FFFFFF;
text-transform:none;
text-decoration:underline;
}
.style1 {
	color: #0066CC;
	font-size: 24px;
	font-weight: bold;
}
.style2 {
	color: #43CF26;
	font-size: 24px;
	font-weight: bold;
}


.logout{
float:right;
padding-top:0px;
margin-top:0px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:27px;
	font-weight:bold;
	padding:9px 28px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
	margin-right:5px;
	margin-top:5px;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.small_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #810e05;
}.small_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}.small_button:active {
	position:relative;
	top:1px;
}
.pagination{
margin: 10px auto 0;
width: 500px;
}
.pagination a{
background:#EE4335;
padding:5px;
margin:0 1px;
}
.pagination a:hover{
background:#C82E20;
}
.pagination span{
padding:5px;
background:#C82E20;
margin:0 1px;
}


